:root {
    --text-color-1: #1D1F22;
    --text-focused: #5ECE7B;
    --text-out-of-stock: #8D8F9A;
}

root, html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

.contentDiv {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    margin: 0 80px 50px;
}

.loadingDiv {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
}

